extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")

      .col-md-7
        h1.pb-5= pag
        blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic voluptate accusamus adipisci et reprehenderit recusandae sapiente molestias, incidunt est dolorem? Maxime culpa minus cupiditate doloremque et quas. Ea, hic modi.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil soluta fugit neque eum reprehenderit debitis sequi dolorem cupiditate aliquam, nesciunt, error, reiciendis voluptatem maxime veniam atque delectus laboriosam est unde?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quisquam repellendus veniam! Enim hic quod iusto facilis tenetur. Mollitia iusto eaque ullam inventore doloribus eveniet neque cupiditate dolores omnis placeat.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid ex error fuga earum natus provident a odio esse, architecto, ipsum fugit laborum, assumenda impedit consectetur similique est fugiat autem!

        .col-md-4
          img(src="img/icono_destinos.svg", alt="Destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores destinos
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid ex error fuga earum natus provident a odio esse, architecto, ipsum fugit laborum, assumenda impedit consectetur similique est fugiat autem!

        .col-md-4
          img(src="img/icono_precios.svg", alt="Precios", class="img-fluid mb-4")
          h2.mb-4 Mejores precios
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid ex error fuga earum natus provident a odio esse, architecto, ipsum fugit laborum, assumenda impedit consectetur similique est fugiat autem!